body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-menu-item-selected {
    color: white !important;
    font-weight: 600;
}

.ant-menu-item {
    color: #ffffffbd;
}

a {
    color: #391085 !important;
}

:where(.css-dev-only-do-not-override-pr0fja).ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
 :where(.css-dev-only-do-not-override-pr0fja).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected::after,
 :where(.css-dev-only-do-not-override-pr0fja).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after,
 :where(.css-dev-only-do-not-override-pr0fja).ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected::after {
    border-bottom-width: 2px;
    border-bottom-color: #d6c0ff;
}